/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar-right {
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  #sidebar-right.active {
    right: 0;
  }

  #sidebar-right a,
  #sidebar-right a:hover,
  #sidebar-right a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

  #sidebar-right .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  #sidebar-right .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }

  #sidebar-right .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
  }

  #sidebar-right #dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  #sidebar-right #dismiss:hover {
    background: #fff;
    color: #7386D5;
  }

  .overlay-sidebar-right {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .overlay-sidebar-right.active {
    display: block;
    opacity: 1;
  }

  #sidebar-right .sidebar-header {
    padding: 20px;
    padding-left: 20px;
    text-align: center;
    background: #6d7fcc;
  }

  #sidebar-right .select-picker {
    padding: 20px;
    padding-bottom: 40px !important;
    text-align: center;
    background: #6d7fcc;
    border: red;
  }

  #sidebar-right ul.components {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #47748b;
  }

  #sidebar-right ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar-right ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }

  #sidebar-right ul li a:hover {
    color: #7386D5;
    background: #fff;
  }

  #sidebar-right ul li.active>a,
  #sidebar-right a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
  }

  #sidebar-right a[data-toggle="collapse"] {
    position: relative;
  }

  #sidebar-right .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  #sidebar-right ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
  }

  #sidebar-right ul.CTAs {
    padding: 20px;
  }
  
  #sidebar-right ul.CTAs a{
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  #sidebar-right a.download {
    background: #fff;
    color: #7386D5;
  }
  
  #sidebar-right a.article,
  #sidebar-right a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
  }
  
  /* ---------------------------------------------------
    END SIDEBAR STYLE
  ----------------------------------------------------- */